.text{
  text-align: center;
}
.form-box{
  background: #7b7b7b;
  padding: 30px 40px;
}
.search-bar{
  display: flex;
  justify-content: center;
}
.search-bar div{
  padding-left: 3px;
}
.search-btn{
  background: #f54040ed;
  color: #fff;
  height: 38px;
  width: 100px;
  border: none;
  border-radius: 7px;
}
.search-btn:hover{
  background: #b90606ed;
}
